<%- include('./includes/header.ejs') %>

<main class="main">

	<div class="container">

		<h1 class="h1">Recipies</h1>

		<div class="recipes">

			<div class="recipe">

				<img src="https://hips.hearstapps.com/del.h-cdn.co/assets/18/11/2048x1024/landscape-1520957481-grilled-salmon-horizontal.jpg?resize=1200:*"
					alt="">

				<div class="recipe__body">

					<a href="recipe.html" class="recipe__title">Expresso Express</a>

					<div class="recipe__short-descr">A strong punch to the mind</div>

					<div class="recipe__buttons">

						<a href="form.html" class="button button--1 recipe__button">Edit</a>

						<button class="button button--2 recipe__button js-delete-recipe">Delete</button>

					</div>

				</div>

			</div>

		</div>

	</div>

</main>

</div>

</div>

<div class="popup" id="delete-popup">

	<div class="popup__inner">

		<div class="popup__title">Are you sure you want to delete recepe?</div>

		<div class="popup__buttons">

			<button class="button button--1 js-close-popup">Yes</button>

			<button class="button button--3 js-close-popup">No</button>

		</div>

	</div>

</div>

<%- include('./includes/footer.ejs') %>