<%- include('./includes/header.ejs') %>

<main class="main">

	<div class="container">

		<h1 class="h1">Classic Tuna Mayo</h1>

		<div class="one-recipe">

			<img src="https://hips.hearstapps.com/del.h-cdn.co/assets/18/11/2048x1024/landscape-1520957481-grilled-salmon-horizontal.jpg?resize=1200:*"
				alt="" class="one-recipe__img">

			<div class="one-recipe__block one-recipe__description">

				<div class="one-recipe__title">Recipe description</div>

				<span>Nothing mouth watering like the Toasted Tuna Mayo</span>

			</div>

			<div class="one-recipe__block one-recipe__ingridients">

				<div class="one-recipe__title">Ingredients needed:</div>

				<ul class="one-recipe-list">
					<li class="one-recipe-list__item">2 x 170 g cans light meat tuna chunks</li>
					<li class="one-recipe-list__item">Three thick mayonnaise packs, plus extra for spreading
					</li>
					<li class="one-recipe-list__item">One cup lemon juice</li>
					<li class="one-recipe-list__item">Two branches of Italian parsley, chopped</li>
					<li class="one-recipe-list__item">One cuponion, finely chopped</li>
					<li class="one-recipe-list__item">Finely chopped celery</li>
					<li class="one-recipe-list__item">Two garlic cloves, crushed (optional)</li>
				</ul>

			</div>

			<div class="one-recipe__block one-recipe__ingridients">

				<div class="one-recipe__title">Reciepe instructions</div>

				<div>Drain the tuna well, then transfer to a bowl. Separate into large flakes using a fork and mix well
					with the remaining ingredients except the bread, cress and crisps. Chill until ready to use.Sandwich
					3–4 T of the mixture between 2 slices of bread. Spread the outside of the sandwich with a thin layer
					of mayonnaise and slowly brown in a nonstick pan, covering the bread with a square of baking paper,
					and weighing it down in the pan.Serve with cress and crisps.</div>

			</div>

			<a href="index.html" class="button button--1 one-recipe__button">Back</a>

		</div>

	</div>

</main>

</div>

</div>

<%- include('./includes/footer.ejs') %>